<div id="qweqweq">
	<div>

		<!-- banner -->
	<div id="home" class="w3ls-banner"> 
		<!-- header -->
		<div class="header-w3layouts"> 
			<!-- Navigation -->
			<nav class="navbar navbar-default navbar-fixed-top"> 
				<div class="container">
					<div class="navbar-header page-scroll">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
							<span class="sr-only">Medical_care</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1><a class="navbar-brand" href="#!">Tomboc-Salayog Hospital</a></h1>
					</div> 
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav navbar-right cl-effect-15">
							<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
							<li class="hidden"><a class="page-scroll" href="#page-top"></a>	</li>
							<li><a class="page-scroll scroll" href="#!adminhomepage" style="cursor: pointer;">Dashboard</a></li>
							<li class="dropdown">
						        <a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">Actions
						        <span class="caret"></span></a>
						        <ul class="dropdown-menu">
						          <li><a style="cursor: pointer; color: black;" href="#!admindoctorservice">Doctor</a></li>
									<li><a style="cursor: pointer; color: black;" href="#!adminworkerservice">Worker</a></li>
									<li><a style="cursor: pointer; color: black;" href="#!adminuser">User</a></li>
									<li><a style="cursor: pointer; color: black;">Appointment</a></li>
									<li><a style="cursor: pointer; color: black;">Diagnose</a></li>
									<li><a style="cursor: pointer; color: black;">Schedule</a></li>
									<li><a style="cursor: pointer; color: black;">Vital Signs</a></li>
						        </ul>
						      </li>
							<li><a class="page-scroll scroll" data-toggle="modal" data-target="#registerModal" style="cursor: pointer;">Settings</a></li>
							<li><a ng-click="logout()" sxtyle="cursor: pointer;">Log out</a></li>
							
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container -->
			</nav>  
		</div>	
		<div class="loading">Loading&#8230;</div>
	
		<div id="adminhomepagewallpaper" style="height: {{resizescreen}}">
			<div style="width: 95%; margin-left: 30px; margin-top: 100px;">
				<div class="well" style="background-color: rgba(0, 0, 0, 0.6);">
					<button class="btn btn-success btn-md btn-block" style="<button class="btn btn-success btn-md" style="width: 140px; float: left;" data-toggle="collapse" ng-click="collapsebuttonadd()" data-target="#adddoctor">Add</button>
					<div id="adddoctor" class="collapse">
						<div style="margin-top: 50px; margin-left: 20px;">
							<form method="POST" ng-submit="registerworker()">
								<input type="text" class="form-control" ng-model="registerworkerform.firstname" placeholder="Firstname"><br>
								<input type="text" class="form-control" ng-model="registerworkerform.middlename" placeholder="Middlename"><br>
								<input type="text" class="form-control" ng-model="registerworkerform.lastname" placeholder="Lastname"><br>
								<input type="text" class="form-control" onkeydown='return (event.which >= 48 && event.which <= 57) 
   || event.which == 8 || event.which == 46' ng-model="registerworkerform.age" placeholder="Age"><br>
								<select class="form-control" ng-model="registerworkerform.gender">
								    <option>Male</option>
								    <option>Female</option>
								  </select><br>
								<input type="text" class="form-control" ng-model="registerworkerform.address" placeholder="Address"><br>
								<input type="text" class="form-control" ng-model="registerworkerform.nationality" placeholder="Nationality"><br>
								<input type="text" class="form-control" ng-model="registerworkerform.position" placeholder="Position"><br>
								<input type="text" class="form-control" ng-model="registerworkerform.username" placeholder="Username"><br>
								<input type="text" class="form-control" ng-model="registerworkerform.password" placeholder="Password"><br>
								<button type="submit" class="btn btn-primary btn-md" style=" margin-left: 500px; width: 150px;">Register</button><br>
								<strong class="alert {{alertclass}}" style="width: 100%">{{registerworkerformmessage}}</strong>
							</form>
						</div>
					</div>
					<br>
 					<br>
					   <table class="table" style="color: white; font-size: 15px; word-break:break-all;">
						    <thead>
						      <tr>
						        <th>ID</th>
						        <th>Firstname</th>
						        <th>Middlename</th>
						        <th>Lastname</th>
						        <th>Age</th>
						        <th>Gender</th>
						        <th>Address</th>
						        <th>Nationality</th>
						        <th>Username</th>
						        <th>Password</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr ng-repeat="i in workertableform | startFrom:(currentPage - 1) * pageSize | limitTo:pageSize">
						        <td>{{i.workerid}}</td>
						        <td>{{i.firstname}}</td>
						        <td>{{i.midlename}}</td>
						        <td>{{i.lastname}}</td>
						        <td>{{i.age}}</td>
						        <td>{{i.gender}}</td>
						        <td>{{i.address}}</td>
						        <td>{{i.nationality}}</td>
						        <td>{{i.username}}</td>
						        <td>{{i.password}}</td>
						        <td><button type="button" class="btn btn-info btn-md">Delete</button></td>
						        <td><button type="button" class="btn btn-warning btn-md" data-toggle="modal" data-target="#updatedoctor" ng-click="workerupdatemodal(i.workerid, i.firstname, i.midlename, i.lastname, i.age, i.gender, i.address, i.nationality, i.username, i.password)">Update</button></td>
						      </tr>
						  </table>
						  <ul uib-pagination total-items="workertableform.length" ng-model="currentPage" ng-change="pageSize" style="margin-left: 500px;"></ul>
						  <div id="updatedoctor" class="modal fade" role="dialog">
							  <div class="modal-dialog modal-md">

							    Modal content
							    <div class="modal-content" style="background-color: rgba(0, 0, 0, 0.6); color: white;">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal">&times;</button>
							        <h4 class="modal-title" style="color: white;">Worker Account</h4>
							      </div>
							      <div class="modal-body">
							        <form method="POST" ng-submit="submitworkermodal()">
							        	<h1 style="font-family: Monotype Corsiva;">{{workerform.id}}</h1><br><br>
							        	<input type="text" class="form-control" ng-model="workerform.firstname" placeholder="Firstname"><br>
							        	<input type="text" class="form-control" ng-model="workerform.middlename" placeholder="Middlename"><br>
							        	<input type="text" class="form-control" ng-model="workerform.lastname" placeholder="Lastname"><br>
							        	<input type="text" class="form-control" ng-model="workerform.age" onkeydown='return (event.which >= 48 && event.which <= 57) 
   || event.which == 8 || event.which == 46' placeholder="Age"><br>
							        	<select class="form-control" ng-model="workerform.gender">
										    <option>Male</option>
										    <option>Female</option>
										</select><br>
							        	<input type="text" class="form-control" ng-model="workerform.address" placeholder="Address"><br>
							        	<input type="text" class="form-control" ng-model="workerform.nationality" placeholder="Doctortype"><br>
							        	<input type="text" class="form-control" ng-model="workerform.username" placeholder="Username"><br>
							        	<input type="text" class="form-control" ng-model="workerform.password" placeholder="Password"><br>
							        	<button type="submit" class="btn btn-primary btn-block">Update</button><br>
										  <strong class="alert alert-danger" ng-hide="{{messagehide}}">{{workerformmessage}}</strong>
							        </form>
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-default" ng-click="closemodalbutton()" data-dismiss="modal">Close</button>
							      </div>
							    </div>

							  </div>
</div>
				</div>
			</div>
			
		</div>


<!-- copyright -->
<div class="copyright-agile">
	<p>&copy; 2018 Tomboc-Salayog Hospital. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
</div>
<!-- //copyright -->



<script src="js/easy-responsive-tabs.js"></script>
<script>
$(document).ready(function () {
$('#horizontalTab').easyResponsiveTabs({
type: 'default', //Types: default, vertical, accordion           
width: 'auto', //auto or any width like 600px
fit: true,   // 100% fit in a container
closed: 'accordion', // Start closed if in accordion view
activate: function(event) { // Callback function if tab is switched
var $tab = $(this);
var $info = $('#tabInfo');
var $name = $('span', $info);
$name.text($tab.text());
$info.show();
}
});
$('#verticalTab').easyResponsiveTabs({
type: 'vertical',
width: 'auto',
fit: true
});
});
</script>





<!--banner Slider starts Here-->
		<script src="js/responsiveslides.min.js"></script>
							<script>
								// You can also use "$(window).load(function() {"
								$(function () {
								  // Slideshow 4
								  $("#slider3").responsiveSlides({
									auto: true,
									pager:true,
									nav:false,
									speed: 500,
									namespace: "callbacks",
									before: function () {
									  $('.events').append("<li>before event fired.</li>");
									},
									after: function () {
									  $('.events').append("<li>after event fired.</li>");
									}
								  });
							
								});
							 </script>

							<!--banner Slider starts Here-->
							<!--start-date-piker-->
							<link rel="stylesheet" href="css/jquery-ui.css" />
									<script src="js/jquery-ui.js"></script>
									<script>
										$(function() {
										$( "#datepicker" ).datepicker();
										});
									</script>
							<!--/End-date-piker-->
							
<!-- js for smooth scrollings -->
	<script src="js/SmoothScroll.min.js"></script>
<!-- js for smooth scrollings -->

<!-- flexisel -->
	<script type="text/javascript" src="js/jquery.flexisel.js"></script>
	<script type="text/javascript">
		$(window).load(function() {
			$("#flexiselDemo1").flexisel({
				visibleItems: 3,
				animationSpeed: 1000,
				autoPlay: false,
				autoPlaySpeed: 3000,    		
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: { 
					portrait: { 
						changePoint:480,
						visibleItems: 1
					}, 
					landscape: { 
						changePoint:640,
						visibleItems:2
					},
					tablet: { 
						changePoint:768,
						visibleItems: 3
					}
				}
			});
			
		});
	</script>
<!-- //flexisel -->

<!-- start-smooth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<!-- start-smooth-scrolling -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->


<!-- Scrolling Nav JavaScript --> 
    <script src="js/scrolling-nav.js"></script>  
<!-- //fixed-scroll-nav-js --> 


</div>
</div>